<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <%= nav_helper("span", "blog-nav-item") %>
      <%= login_helper("blog-nav-item") %>
    </nav>
  </div>
</div>
