<h1>Let's work together!</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>
    <p>3rd House, Behind Mary Star of The Sea School, Washing Bay</p>
    <h3>Phone</h3>
    <p>+23324236999</p>
    <h3>Email</h3>
    <p><a href="mailto:quamgyambrah@gmail.com?subject=ProjectContact" "email me">Email Me</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15884.79568786541!2d-0.406699!3d5.5374897!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9766fe885ae2551e!2sMary%20Star%20of%20the%20Sea%20Int.%20Sch!5e0!3m2!1sen!2sgh!4v1646094016063!5m2!1sen!2sgh" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
